Html, body{
  height:100%;
}

.container {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 300px;
}

.login {
  width: 300px;
  margin: 5px;
  text-align: center; 
}

.login div, .login button, .login input {
  margin-top: 10px;
}

