name: Review
on:
  pull_request:
    branches:
      - master

jobs:
  spelling:
    name: Spelling
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: reviewdog/action-misspell@v1
        with:
          reporter: github-pr-review
          github_token: ${{ secrets.github_token }}
          locale: "US"
  library-checks:
    name: library-checks
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    strategy:
      matrix:
        example: [
          'hub-browser-auth-app',
          'bucket-photo-gallery',
          'react-native-hub-app',
          'metamask-identities-ed25519',
          '3box-identities-ed25519',
          'mailbox-setup'
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install
        working-directory: ${{ matrix.example }}
        run: npm install
       - name: Show versions
        working-directory: ${{ matrix.example }}
        run: npx ncu '/^@textile/.*$/'
       - name: Check versions
        working-directory: ${{ matrix.example }}
        run: if [ $(npx ncu '/^@textile/.*$/' | grep '@textile/' | wc -l) == 0 ]; then echo 'ok'; else exit 1; fi;